.tópicos{
    background: var(--azul-degrade);
    padding: 1em 0;
    
}
.tópicos_titulo{
    color: var(--branco);
    font-weight: 300;
    text-align: center;
    margin-bottom: 1em;
    
}
.tópicos_lista{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.tópicos_item{
    margin: 2em 0.5em;
}
.tópicos_link{
    background-color: var(--laranja);
    padding: 1em;
    color: var(--branco);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
@media screen and (min-width:1024px) {
    .tópicos_titulo{
        font-size: 24px;
    }
    .tópicos_link{
        font-size: 24px;
    }
    
}
@media screen and (min-width:1728px){
    .tópicos{
        padding: 3em 25vw;
        
    }
    
}